@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar [data-simplebar]::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar [data-simplebar] {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.sidebar-nav {}



/* Global dropdown behavior: cap height and enable scrolling */
.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}